/Debug/
/Drivers/
.cproject
NUCLEO-L152RE.elf.launch
stm32_flash.ld
STM32L152
STM32L152_reference_manual.pdf
generating-pwm-signals-using-stm8-nucleo64-boards-stmicroelectronics.pdf
um1724-stm32-nucleo64-boards-mb1136-stmicroelectronics.pdf